@charset "UTF-8";

/* 
    Paleta de cores
    Azul da Prússia(azul escuro):  0E273C#
    Níquel(cinza claro) :  #6B7D7D
    Branco : #FFFBFA
*/

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}

body, html {
    background-color:  #0E273C;
    height: 100vh;
    width: 100vw;

}

main {
    position: relative;
    height: 100vh;
    width: 100vw;

}

#login {
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
    overflow: hidden;

    background-color: #FFFBFA;
    width: 268px;
    height: 515px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.449);

    transition: width 0.5s, height 0.5s;
    transition-timing-function: ease;

}

#imagem {
    display: block;
    background: #0E273C url("../imagem/pexels.jpg") no-repeat;
    background-size: cover;
    background-position: center center;
    height: 200px;
}

#formulario {

    display: block;
    padding: 10px;

}

#formulario > h1 {
    text-align: center;
    margin-bottom: 10px;
}

div#formulario > p {
    font-size: 0.8em;
}

form label {
    display: none;
}

.campo {
    background-color: #6B7D7D;
    width: 100%;
    height: 40px;
    display: block;
    border-radius: 5px;
    margin: 5px 0px;
    
}

form input[type=submit] {
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: #0E273C;
    color: #FFFBFA;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form input[type=submit]:hover {
    background-color: #06121c;
}

a.botao {
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 40px;
    padding-top: 7px;
    margin-top: 5px;
    background-color: #FFFBFA;
    color: #06121c;
    border: 1px solid #0E273C;
    border-radius: 4px;
    text-decoration: none;
    
}

a.botao:hover {
    background-color: #0E273C;
    color: white;
}

a.botao > i {
    font-size: 0.8em;
}